*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --green-color: #15C39A;
    --blue-color: #409AF2;
    --purple-color: #BA78ED;
}

ul {
    list-style: none;
}

body {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

button {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

header {
    position: sticky;
    z-index: 2;
    top: 0;
    color: #fff;
    background-color: transparent;
    transition: background-color 0.3s ease-out;
}

.header-active {
    background-color: #000;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.desktop-menu {
    display: none;
}

.header-logo {
    width: 40px;
    height: 40px;
}

.button-open-mobile-menu {
    background-color: transparent;
    border: none;
}

.button-open-mobile-menu img {
    width: 24px;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0vh;
    background-color: #15C39A;
}

.open-mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: open-mobile-menu 0.6s cubic-bezier(.28, .64, .81, .74) forwards;
}

@keyframes open-mobile-menu {
    from { height: 0vh; }
    to { height: 50vh; }
}

.mobile-menu-items {
    position: relative;
    margin-top: 40px;
    opacity: 0;
    top: -30px;
}

.mobile-menu-items li {
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: 700;
}

.mobile-menu-items li:last-of-type {
    margin-bottom: 0;
}

.display-mobile-menu-items {
    animation: display-mobile-menu-items 0.4s linear forwards;
}

@keyframes display-mobile-menu-items {
    from { 
        top: -30px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.mobile-menu-footer {
    background-color: #15C39A;
    position: absolute;
    bottom: -100px;
    width: 100%;
    height: 100px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-close-mobile-menu {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgba(18, 136, 108, 0.5);
    border: 4px solid #fff;
    font-size: 2.2em;
    font-weight: 700;
    color: #fff;
}









.landing-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #242424;
    padding: 0 20px;
    color: #ebebeb;
}

.blur-landing-page {
    animation: blur-landing-page 0.6s linear forwards;
}

@keyframes blur-landing-page {
    from { filter: blur(0px); }
    to { filter: blur(4px); }
}

.landing-page-info {
    margin-top: 130px;
}

.landing-page-info h1 {
    font-size: 1.9em;
}

.landing-page-info h2 {
    font-size: 1.1em;
    font-weight: 400;
    margin: 9px 0 16px 0;
    width: 95%;
    line-height: 26px;
}

.landing-page-info button {
    padding: 10px 16px;
    font-size: 1em;
    background-color: var(--green-color);
    color: #fff;
    border: none;
    transition: background-color 0.3s ease-out;
}

.landing-page-info button:hover {
    background-color: rgba(18, 136, 108, 0.8);
}