*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --green-color: #15C39A;
    --blue-color: #409AF2;
    --purple-color: #BA78ED;
}

ul {
    list-style: none;
}

body {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

button {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

header {
    position: sticky;
    z-index: 2;
    top: 0;
    color: #fff;
    background-color: transparent;
    transition: background-color 0.3s ease-out;
}

.header-active {
    background-color: #000;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.desktop-menu {
    display: none;
}

.header-logo {
    width: 40px;
    height: 40px;
}

.button-open-mobile-menu {
    background-color: transparent;
    border: none;
}

.button-open-mobile-menu img {
    width: 24px;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.open-mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-menu-items {
    background-color: var(--green-color);
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display-mobile-menu-items {
    animation: display-mobile-menu-items 0.6s linear forwards;
}

@keyframes display-mobile-menu-items {
    from { opacity: 0; }
    to { opacity: 1; }
}

.mobile-menu-items li {
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: 700;
    opacity: 0;
}

.mobile-menu-items li:last-of-type {
    margin-bottom: 0;
}

.mobile-menu-footer {
    width: 100%;
    background-color: var(--green-color);
    text-align: center;
    height: 100px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-close-mobile-menu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(18, 136, 108, 0.5);
    border: 4px solid #fff;
    font-size: 2.1em;
    font-weight: 700;
    color: #fff;
    opacity: 0;
}

.display-button-close-mobile-menu {
    animation: display-button-close-mobile-menu 0.4s linear forwards;
}

@keyframes display-button-close-mobile-menu {
    from { opacity: 0; }
    to { opacity: 1; }
}

.mobile-menu-outer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(20, 20, 20, 0.6);
    z-index: -1;
}

.landing-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #242424;
    padding: 130px 20px 0 20px;
    color: #ebebeb;
}

.landing-page-info h1 {
    font-size: 1.9em;
}

.landing-page-info h2 {
    font-size: 1.1em;
    font-weight: 400;
    margin: 9px 0 16px 0;
    width: 95%;
    line-height: 26px;
}

.landing-page-info h2 span {
    display: none;
}

.button-learn-more {
    padding: 10px 16px;
    font-size: 1em;
    background-color: var(--green-color);
    color: #fff;
    border: none;
    transition: background-color 0.3s ease-out;
}

.button-learn-more:hover {
    background-color: rgba(18, 136, 108, 0.8);
}



.landing-page-art {
    display: none;
}

.landing-page-footer {
    display: none;
}


/* Media queries */

@media (min-width: 700px) {

    .button-open-mobile-menu {
        display: none;
    }

    nav {
        padding: 30px 60px;
    }

    .header-logo {
        width: 48px;
        height: 48px;
        cursor: pointer;
    }

    .desktop-menu {
        display: flex;
        align-items: center;
    }
    
    .desktop-menu li {
        padding: 8px 16px;
        margin-right: 10px;
        font-size: 0.9em;
        cursor: pointer;
        transition: background-color 0.3s ease-in;
    }

    .desktop-menu li:last-of-type {
        margin-right: 0;
    }

    .desktop-menu li:hover,
    .menu-active {
        background-color: var(--green-color);
    }

    .landing-page {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "landing-info landing-art"
                             "landing-footer landing-footer";
        padding: 150px 120px 0 120px;
        /* border: 1px solid red; */
    }

    .landing-page-info {
        /* border: 1px solid blue; */
        grid-area: landing-info;
    }

    .landing-page-info h1 {
        font-size: 4em;
        width: 70%;
    }

    .landing-page-info h2 {
        font-size: 1.3em;
        width: 520px;
        line-height: 34px;
        margin: 10px 0 20px 0;
    }

    .landing-page-info h2 span {
        display: inline; 
    }

    .landing-page-art {
        display: block;
        grid-area: landing-art;
    }

    .landing-page-art img:first-of-type {
        width: 330px;
        position: relative;
        top: -10px;
        left: 10px;
    }

    .landing-page-art img:last-of-type {
        width: 160px;
        position: relative;
        top: 35px;
        left: 25px;
    }

    .landing-page-footer {
        /* border: 1px solid green; */
        grid-area: landing-footer;
        display: grid;
        grid-template-columns: 26% 37% 37%;
        margin-bottom: 60px;
    }

    .landing-page-footer > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border: 1px solid red; */
    }

    .landing-page-footer > div h1 {
        font-size: 1.8em;
        margin-bottom: 15px;
        position: relative;
        left: 10px;
    }

    .landing-page-footer > div h1::before {
        content: '';
        position: absolute;
        left: -10px;
        width: 5px;
        height: 100%;
        border-radius: 5px;
        background-color: var(--green-color);
    }

    .landing-page-footer > div h2 {
        font-size: 1.2em;
        font-weight: 400;
        line-height: 26px;
        width: 85%;
    }

    .landing-page-footer > div:nth-of-type(1) {
        position: relative;
        align-items: center;
    }

    .landing-page-footer > div:nth-of-type(1) img {
        /* position: absolute; */
        /* width: 220px; */
    }

    .landing-page-footer > div:nth-of-type(2),
    .landing-page-footer > div:nth-of-type(3) {
        padding: 0 60px;
    }

}